.filter{
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.filter select{
    margin-left: 15px;
    margin-right: 15px;
}

.filter .btn-group{
    width: fit-content;
    flex-grow: 0;
}

#new-post{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 4px;
}

.posts-list{
    padding: 0;
    list-style-type: none;
    width: 85%;
    max-width: 900px;
    margin: auto;
    text-align: left;
}

i.post-number{
    font-size: 10px;
    opacity: 0.5;
}

.edit-post{
    cursor: pointer;
    float: right;
    margin-left: 10px;
    transition: 0.5s;
}

.edit-post:hover{
    background-color: cyan;
}

input.title-edit{
    width: 100%;
    height: 2rem;
    font-weight: bold;
}
textarea.body-edit{
    width: 100%;
    height: 5rem;
}

.post-footer{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.btn-group{
    flex-grow: 1;
    text-align: right;
    justify-content: flex-end;
}