#login{
    max-width:500px;
}

#login h1{
    margin-bottom: 50px;
}

#login .input-group{
    width: 80%;
    margin: auto;
}

#login-error {
    background-color: rgba(255, 0, 0, 0.36);
    padding: 10px 20px;
    margin: 20px auto;
    color: white;
    width: fit-content;
}