#profile-container {
    width: 400px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: [left] max-content [right] auto;
    grid-auto-flow: column;
    grid-gap: 3px 5px;
}

.profile-element{
    text-align: left;
    padding: 5px 15px;
}

.profile-element.left{
    background-color: rgb(191, 230, 255);
    grid-column-start: left;
}

.profile-element.right{
    background-color: rgb(247, 247, 247);
    grid-column-start: right;
    grid-row-start: auto;
}